@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
    background-color: $color-border;
    padding: $space * 3;
    margin-top: $space * 4;
    color: $color-muted;
    border-radius: $radius;
    
    // На мобільних екранах елементи йдуть колонкою
    @include flex-center(column);
    gap: $space;
    
    // На планшетах і більших екранах вишиковуються в рядок
    @include respond-to(tablet) {
        @include flex-center(row);
        justify-content: space-between;
    }

    &__text {
        font-size: $fs-base;
        // Застосовуємо міксин для обрізання тексту в 1 рядок, якщо він не поміщається
        @include text-truncate(1);
    }
    
    &__link {
        color: $color-primary;
        
        &:hover {
            color: $color-secondary;
        }
    }
}