@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    background-color: var(--color-primary);
    padding: $space * 2;;
    color: var(--color-bg);
    box-shadow: var(--shadow);
    
    // Застосовуємо міксин flex-center та перевизначаємо justify-content для рознесення краями
    @include flex-center(row);
    justify-content: space-between;

    @include respond-to(tablet) {
        padding: $space * 3;
    }

    &__logo {
        font-size: var(--fs-lg);
        font-weight: bold;
        color: var(--color-bg);
        
        @include respond-to(desktop) {
            font-size: var(--fs-xl);
        }
    }

    &__nav {
        @include flex-center(row);
        gap: $space * 2;;

        &-link {
            color: var(--color-bg);
            
            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}