@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.alert {
    padding: $space * 2;
    border-radius: $radius;
    font-family: $font-base;
    font-size: $fs-base;
    border-left: 4px solid transparent; // Акцентна смужка зліва
    margin-bottom: $space * 2;
    
    @include flex-center(row);
    justify-content: flex-start;
    gap: $space * 1.5;

    // --- МОДИФІКАТОРИ ---

    &--success {
        background-color: var(--color-success-bg);
        color: var(--color-success-text);
        border-color: var(--color-success-border);
    }

    &--error {
        background-color: var(--color-error-bg);
        color: var(--color-error-text);
        border-color: var(--color-error-border);
    }

    &--warning {
        background-color: var(--color-warning-bg);
        color: var(--color-warning-text);
        border-color: var(--color-warning-border);
    }
}