@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.nav {
    display: flex;
    align-items: center;
    gap: $space * 2;
    list-style: none; // Якщо використовуватиметься тег <ul>

    &__link {
        font-family: $font-base;
        font-size: $fs-base;
        color: $color-text;
        text-decoration: none;
        transition: color var(--transition);
        padding: var(--space);

        &:hover {
            color: var(--color-primary);
        }

        // --- МОДИФІКАТОР ЕЛЕМЕНТА ---
        &--active {
            color: var(--color-primary);
            font-weight: bold;
            // Можна додати підкреслення для активного пункту
            border-bottom: 2px solid var(--color-primary);
        }
    }
}