@use '../abstracts/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-base);
    font-size: var(--fs-base);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: color var(--transition);

    &:hover {
        color: var(--color-secondary);
    }
}