@use '../abstracts/variables' as *;

h1, h2, h3 { color: var(--color-text); }
p { color: var(--color-muted); }

h1 {
    font-size: var(--fs-xl);
}

h2 {
    font-size: var(--fs-lg);
}

p {
    color: var(--color-muted);
    margin-bottom: $space * 2;
}